
<div {{ attributes }}>
    <div class="listCard">
        <table>
            {% for key, line in lineItems %}
                <twig:BudgetLineItem
                    key="{{key}}"
                    title="{{line.title}}"
                    amount="{{line.amount}}"
                />
            {% endfor %}
        </table>
    </div>

    <button
            data-action="live#action"
            data-live-action-param="addLineItem"
            class="btn btn-sm btn-secondary"
            type="button"
    ><UX:Icon name="plus" /> Add Item</button>

    <div class="resultCard">
        {{ this.total }}
    </div>
</div>